.section-drawer {
	display: flex;
	flex-direction: column;
	justify-content: start;
	height: 100%;
	max-width: 450px;
	min-width: 450px;
	background-color: #444444;
	border-left: 2px solid #bbbbbb;
}

.section-drawer__controls {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 16px;
	border: 1px solid #666;
	border-radius: 8px;
	padding: 8px;
	margin: 8px;
}

.section-drawer__options {
	display: flex;
	justify-content: center;
	gap: 16px;
	padding-top: 16px;
}

.section-drawer__button {
	padding: 2em 1.2em;
	border-radius: 8px;
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
}

.section-drawer__button:hover {
	background-color: #45a049;
}

.section-drawer__button--delete {
	padding: 1.2em;
	background-color: #ff4d4f;
	border: 0px;
}

.section-drawer__button--delete:hover {
	background-color: #d9363e;
}

.section-drawer__unit-selector {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #1a1a1a;
	border-radius: 8px;
	padding: 0.6em 1.2em;
	gap: 4px;
}

.section-drawer__select {
	border-radius: 16px;
	background-color: #444;
	padding: 0.1em 0.2em;
}

.section-drawer__coordinates {
	display: flex;
	flex-direction: column;
	gap: 8px;
	border: 1px solid #666;
	border-radius: 8px;
	padding: 8px;
	margin: 8px;
	margin-top: 20px;
}

.section-drawer__coordinates--point {
	display: flex;
	gap: 16px;
}

.section-drawer__input {
	flex: 1;
	min-width: 130px;
	background-color: #1a1a1a;
	border-radius: 8px;
	color: white;
	padding: 0.5em;
}

.section-drawer__sections {
	text-align: center;
	margin: 20px 0 0 0;
	overflow: overlay;
	scrollbar-width: thin;
	flex: 1;
}

.section-drawer__header {
	border-bottom: 1px solid #ccc;
}

.section-drawer__header,
.section-drawer__row {
	display: flex;
	gap: 0px;
	margin-bottom: 10px;
	padding-bottom: 8px;
}

.section-drawer__header {
	font-weight: bold;
	display: flex;
	justify-content: space-evenly;
}

.section-drawer__column {
	display: flex;
	flex: 1;
	text-align: center;
	flex-direction: column;
}

.section-drawer__column--azimuth {
	font-size: 0.9em;
}

.section-drawer__cell {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-drawer__cell--coordinates {
	flex: 1;
	font-size: 0.8rem;
}

.section-drawer__color {
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	border-radius: 50%;
	margin: auto;
}

.section-drawer__no-sections {
	color: #888;
	font-style: italic;
}
