div#map {
	height: 100%;
	overflow: hidden;
	background: #dddddd;
	border-radius: 16px;
	display: flex;
	margin-bottom: 48px;
}

.map__container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	gap: 0px;
}

.mapView__controls {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 16px;
	margin: 24px 24px 0px 24px;
	padding-bottom: 24px;
	width: 100%;
	height: 100%;
}

.mapView__mode-selector {
	display: flex;
	align-items: center;
}

.mapView__label-container {
	display: flex;
	border: 1px solid white;
	padding: 8px 24px;
	border-radius: 8px;
}

.mapView__label {
	display: flex;
	gap: 4px;
	align-items: center;
	font-size: 14px;
	color: #ffffff;
	margin: 0px;
	padding: 0px;
}

.mapView__label--spaced {
	margin-left: 20px;
}

.mapView__reset-button {
	margin-right: 40px;
	padding: 8px 16px;
	background-color: #ff4d4f;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.mapView__reset-button:hover {
	background-color: #d9363e;
}

.mapView__map {
	width: 100%;
	height: 850px;
	margin: 0;
	padding: 0;
	flex-grow: 1;
	flex-shrink: 1;
}
